:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  color: var(--color-black);

  --color-black: #2D2F30;
  --color-violet-light: #9D27B0;
  --color-violet-dark: #6A1B9A;
  --color-orange-light: #F79804;
  --color-orange-dark: #F57C01;
  --color-yellow-light: #FCEB3A;
  --color-yellow-dark: #F9C108;
  --color-white: #FCFBFE;
  --color-gray: #DDE3E8;
  --shadow: rgba(0, 0, 0, 0.1);
}
